<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>versionNumber</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>Mesh_Icon</string>
		<key>allowsPlasticCustomization</key>
		<false/>
		<key>categoryIdentifier</key>
		<string>0</string>
		<key>allowsMetalCustomization</key>
		<false/>
		<key>displayName</key>
		<string>Face Mesh</string>
		<key>modelFileName</key>
		<string></string>
		<key>distanceOfTemplesAtEarToCenterinCM</key>
		<real>0</real>
		<key>textureTransformScale</key>
		<integer>1</integer>
		<key>brand</key>
		<string></string>
	</dict>
	<dict>
		<key>versionNumber</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>Kari</string>
		<key>categoryIdentifier</key>
		<string>3</string>
		<key>allowsPlasticCustomization</key>
		<false/>
		<key>allowsMetalCustomization</key>
		<true/>
		<key>displayName</key>
		<string>Kari</string>
		<key>modelFileName</key>
		<string>Kari.dae</string>
		<key>distanceOfTemplesAtEarToCenterinCM</key>
		<real>5.7</real>
		<key>textureTransformScale</key>
		<integer>1</integer>
		<key>shadedByDefault</key>
		<false/>
		<key>templesUsePadMaterial</key>
		<true/>
		<key>defaultBridgeSize</key>
		<integer>16</integer>
		<key>defaultTempleLength</key>
		<integer>140</integer>
		<key>defaultGlasWidth</key>
		<integer>47</integer>
		<key>defaultGlasHeight</key>
		<integer>37</integer>
		<key>brand</key>
		<string>Grafix</string>
	</dict>
	<dict>
		<key>versionNumber</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>Neso</string>
		<key>categoryIdentifier</key>
		<string>3</string>
		<key>allowsPlasticCustomization</key>
		<false/>
		<key>allowsMetalCustomization</key>
		<true/>
		<key>displayName</key>
		<string>Neso</string>
		<key>modelFileName</key>
		<string>Neso.dae</string>
		<key>distanceOfTemplesAtEarToCenterinCM</key>
		<real>6.9</real>
		<key>textureTransformScale</key>
		<integer>1</integer>
		<key>shadedByDefault</key>
		<false/>
		<key>templesUsePadMaterial</key>
		<true/>
		<key>defaultBridgeSize</key>
		<integer>18</integer>
		<key>defaultTempleLength</key>
		<integer>140</integer>
		<key>defaultGlasWidth</key>
		<integer>56</integer>
		<key>defaultGlasHeight</key>
		<integer>48</integer>
		<key>brand</key>
		<string>Grafix</string>
	</dict>
	<dict>
		<key>versionNumber</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>Hyperion</string>
		<key>categoryIdentifier</key>
		<string>3</string>
		<key>allowsPlasticCustomization</key>
		<false/>
		<key>allowsMetalCustomization</key>
		<true/>
		<key>displayName</key>
		<string>Hyperion</string>
		<key>modelFileName</key>
		<string>Hyperion.dae</string>
		<key>distanceOfTemplesAtEarToCenterinCM</key>
		<real>6.6</real>
		<key>textureTransformScale</key>
		<integer>1</integer>
		<key>shadedByDefault</key>
		<false/>
		<key>templesUsePadMaterial</key>
		<true/>
		<key>defaultBridgeSize</key>
		<integer>17</integer>
		<key>defaultTempleLength</key>
		<integer>140</integer>
		<key>defaultGlasWidth</key>
		<integer>56</integer>
		<key>defaultGlasHeight</key>
		<integer>36</integer>
		<key>brand</key>
		<string>Grafix</string>
	</dict>
	<dict>
		<key>versionNumber</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>bor</string>
		<key>categoryIdentifier</key>
		<string>6</string>
		<key>allowsPlasticCustomization</key>
		<false/>
		<key>allowsMetalCustomization</key>
		<true/>
		<key>displayName</key>
		<string>Bor</string>
		<key>modelFileName</key>
		<string>Bor.dae</string>
		<key>distanceOfTemplesAtEarToCenterinCM</key>
		<real>5.6</real>
		<key>textureTransformScale</key>
		<integer>1</integer>
		<key>shadedByDefault</key>
		<false/>
		<key>templesUsePadMaterial</key>
		<true/>
		<key>defaultBridgeSize</key>
		<integer>16</integer>
		<key>defaultTempleLength</key>
		<integer>140</integer>
		<key>defaultGlasWidth</key>
		<integer>53</integer>
		<key>defaultGlasHeight</key>
		<integer>42</integer>
		<key>brand</key>
		<string>Grafix</string>
	</dict>
	<dict>
		<key>versionNumber</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>sami</string>
		<key>categoryIdentifier</key>
		<string>4</string>
		<key>allowsPlasticCustomization</key>
		<false/>
		<key>allowsMetalCustomization</key>
		<true/>
		<key>displayName</key>
		<string>Sami</string>
		<key>modelFileName</key>
		<string>Sami.dae</string>
		<key>distanceOfTemplesAtEarToCenterinCM</key>
		<real>5.1</real>
		<key>textureTransformScale</key>
		<integer>1</integer>
		<key>shadedByDefault</key>
		<false/>
		<key>templesUsePadMaterial</key>
		<false/>
		<key>defaultBridgeSize</key>
		<integer>19</integer>
		<key>defaultTempleLength</key>
		<integer>130</integer>
		<key>defaultGlasWidth</key>
		<integer>44</integer>
		<key>defaultGlasHeight</key>
		<integer>37</integer>
		<key>brand</key>
		<string>Grafix</string>
	</dict>
	<dict>
		<key>versionNumber</key>
		<integer>0</integer>
		<key>imageName</key>
		<string>skoll</string>
		<key>categoryIdentifier</key>
		<string>1</string>
		<key>allowsPlasticCustomization</key>
		<false/>
		<key>allowsMetalCustomization</key>
		<true/>
		<key>displayName</key>
		<string>Skoll</string>
		<key>modelFileName</key>
		<string>Skoll.dae</string>
		<key>distanceOfTemplesAtEarToCenterinCM</key>
		<real>6.3</real>
		<key>textureTransformScale</key>
		<integer>1</integer>
		<key>shadedByDefault</key>
		<false/>
		<key>templesUsePadMaterial</key>
		<true/>
		<key>defaultBridgeSize</key>
		<integer>18</integer>
		<key>defaultTempleLength</key>
		<integer>140</integer>
		<key>defaultGlasWidth</key>
		<integer>56</integer>
		<key>defaultGlasHeight</key>
		<integer>45</integer>
		<key>brand</key>
		<string>Grafix</string>
	</dict>
</array>
</plist>
